header {
    margin-top: 0;
    background-color: #4ea0ff;
}

#sfondo_logo {
    height: 60px;
    background-size: 50%;
    background-image: url(../img/pattern.png);
}

#header_logo {
    height: 100%;
    width: 80%;
    background-image: url(../img/logo.svg);
    margin-left: 10%;
    background-repeat: no-repeat;
    background-position: left;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

#date, #sottotitolo {
    margin: 0;
}

#date {
    font-size: 0.8rem;
}

#booleaner {
    color: #0bb8ec;
}

figure {
    margin-bottom: 0;
    margin-left: 0;
}

.didascalia{
    font-size: 0.7rem;
    margin: 0;
}

ul {
    padding-left: 0;
}

ul li {
    list-style-position: inside;
}

table {
    text-align: left;
    table-layout: fixed;
    width: 100%;
}

thead {
    color: #fff;
    background-color: #20a9e5;
}

.trow {
    background-color: #b1e5f2;
}

footer {
    margin-top: 0;
}

#last_text {
    color: grey;
}

/* UTILS */

.container {
    max-width: 80%;
    margin: 0 auto;
}