body, #date, #sottotitolo, .didascalia {
    margin: 0;
}

header {
    height: 60px;
    background-color: #4ea0ff;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-image: url(../img/pattern.png);
}

#sfondo_logo {
    height: 100%;
    padding-left: 20%;
}

#header_logo {
    height: 100%;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

#titolo {
    font-size: 2.5rem;
    margin-top: 2%;
    margin-bottom: 0;
}

#date {
    font-size: 0.8rem;
}

#booleaner {
    color: #0bb8ec;
}

figure {
    margin-bottom: 0;
    margin-left: 0;
}

.didascalia{
    font-size: 0.7rem;
}

ul {
    padding-left: 0;
}

ul li {
    list-style-position: inside;
}

table {
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    width: 100%;
}

thead {
    color: #fff;
    background-color: #20a9e5;
}

.trow {
    background-color: #b1e5f2;
}

footer {
    margin-top: 0;
}

#related {
    color: grey;
}

#last_photo1, #last_photo2 {
    height: 200px;
    width: 300px;
    margin-bottom: 1.5%;
    color: #fff;
}

.last_text {
    padding-top: 3%;
    padding-left: 4%;
}

#last_photo1 {
    background-image: url(../img/monitor.jpg);
}


#last_photo2 {
    background-image: url(../img/graph.jpg);
}

/* UTILS */

.container {
    max-width: 60%;
    margin: 0 auto;
}